*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a{
    color: aliceblue;
}

/* 导航栏 */

.box::after {
    content: "";
    display: block;
    border-radius: 10px;
    width: 0%;
    height: 5px;
    background-color: rgba(247, 243, 243, 0.8);
    opacity: 1;
    transform-origin: left;
    transition: .5s;

}

.top-contain {
    position: relative;
    width: 100%;
    min-height: 120vh;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    background-attachment: fixed;
}

.nav {
    width: 100%;
    backdrop-filter: brightness(0.6);
    position: relative;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    line-height: 50px;
    font-size: 30px;
}


.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;

}

.box:hover::after {
    width: 100%;
}

.box:hover>.icon {

    animation: zy 1.5s infinite;
}

.top-text {
    width: 100%;
    height: 500px;
}

/* 抖动效果 */

@keyframes zy {

    0% {
        transform: rotate(0deg) scale(1.0);
    }

    25% {
        transform: rotate(15deg) scale(1.3);
    }

    50% {
        transform: rotate(0deg) scale(1.0);
    }

    75% {
        transform: rotate(-15deg) scale(1.3);
    }

}

/* 导航栏 */



/* 展示 */
.shell {
    display: grid;
    margin: 0 auto;
    background-color: rgba(red, green, blue, 0.5);
    width: 95%;
    min-height: 110vh;
    border-radius: 20px;
    grid-gap: 20px;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows:auto;
    grid-auto-flow: row;
}

.firedbox{
    position: relative;
    margin: 20px 20px;
    width: 100%;
    height: 20vw;
    overflow: hidden;
}


.firend{
    object-fit: contain;
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.info{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transition: all .5s;
    overflow: hidden;
}

.info-top{
    border-radius: 10px;
    height: 50%;
    background-color:aliceblue;
    opacity: 0.5;
}

.info-bottom{
    height: 50%;
    background-color: aliceblue;
    opacity: 1;
}

.info-img{
    object-fit: cover;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.friendname{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
    color: black;
}

.firedbox:hover> .info{
    top:-100%;
}

.firedbox:hover>.by{
    display: block;
    width: 500px;
}

/* 展示 */


.by{
    overflow: hidden;
    text-align: center;
    width: 0px;
    height: 50px;
    line-height: 50px;
    text-wrap: nowrap;
    border-radius: 50px;
    background: linear-gradient(to left, rgb(54, 179, 232), pink);
    position: fixed;
    top:50px;
    left: 50%;
    transition: all .3s;
    transform: translateX(-50%);
    z-index: 999;
}
